:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --tertiary-color: #F2F2F2;
}

* {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

a:link, a:visited {
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 1.375em;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.375em;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1em;
}

h4 {
    font-size: 1.1em;
}

p {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.9em;
}

body {
    margin: 0;
}

nav {
    max-width: 1340px;
    padding: 0px 50px 0px 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#logo {
    padding-top: 46px;
}

#logo img {
    max-width: 97px;
}

#navButtonsContainer {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
}

.navBtn {
    padding: 48px 34px 50px 34px;
    font-weight: 600;
    border-top: 2px solid transparent;
    transition: all .2s;
}

#navButtonsContainer a:hover {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);
}

#signinBtn {
    color: var(--primary-color);
    font-weight: 600;
}

main {
    max-width: 1340px;
    padding: 0px 50px 0px 50px;
    margin: auto;
}

#searchForm {
    display: flex;
    margin-top: 17px;
}

#searchLabel {
    min-width: 52px;
    height: 51px;
    background-color: var(--tertiary-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#location {
    width: 234px;
    border-top: 1px solid var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color);
    border-left: none;
    border-right: none;
    padding: 17px;
    box-sizing: border-box;
}

#submitForm {
    width: 134px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 0px 15px 15px 0px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    transition: background-color .2s;
}

#submitForm:hover {
    background-color: #65a2ff;
}

#submitForm .fa-search {
    display: none;
}

#searchFilters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
}

#searchFilters label {
    font-weight: 700;
}

.filterBtn {
    height: 46px;
    border: 2px solid var(--tertiary-color);
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    margin-left: 20px;
    transition: background-color .2s;
}

.filterBtn:hover {
    background-color: var(--secondary-color);
}

.filterBtn:hover .filterLabel {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.filterLabel {
    min-height: 50px;
    min-width: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    transition: all .2s;
}

.filterBtn span {
    padding: 13px;
    font-weight: 600;
}

.searchResult {
    display: flex;
}

.searchResult .searchIconResult {
    width: 22px;
    height: 22px;
    border: 1px solid var(--tertiary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color:var(--primary-color);
    font-size: 0.75em;
    margin-right: 12px;
}
.fa-star3, .fa-star4, .fa-star5  {
    font-size: 0.75em;
}

.fa-star3:before {
    content: "\f005\f005\f005";
    color: var(--primary-color);
}

.fa-star3:after {
    content: "\f005\f005";
    color: #d9d9d9;
}

.fa-star4:before {
    content: "\f005\f005\f005\f005";
    color: var(--primary-color);
}

.fa-star4:after {
    content: "\f005";
    color: #d9d9d9;
}

.fa-star5:before {
    content: "\f005\f005\f005\f005\f005";
    color: var(--primary-color);
}

#lodging span {
    display: flex;
    align-items: center;
}

#lodging {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

#locationLodging {
    width: 800px;
    height: 546px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    display: inline-flex;
    flex-direction: column;
}

#lodgingContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 8px;
}

.lodgingPreview {
    margin: 15px 0px 15px 0px;
    width: 236px;
    height: 189px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px #e3e3e3;
}

.lodgingPic {
    margin: 0;
}

.lodgingPic img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.lodgingPreviewDesc {
    padding: 10px 0px 0px 10px;
}

#lodgingMore {
    display: block;
    margin: 25px 15px 15px 15px;
    font-size: 1.15em;
    font-weight: 700;
    width: 100%;
}

#mostPopular {
    display: inline-flex;
    flex-direction: column;
    width: 343px;
    height: 546px;
    border-radius: 20px;
    background-color: var(--tertiary-color);
    padding: 40px 40px 40px 37px;
}

#mostPopularTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fa-line-chart {
    font-size: 1.5em;
}

#popularContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin-top: 10px;
}

.popularPreview {
    margin: 15px 0px 15px 0px;
    height: 134px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px #e3e3e3;
    display: flex;
    flex-direction: row;
}

.popularPreview a {
    width: 100%;
}

.popularPic {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.popularPic img {
    width: 127px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popularPreviewDesc {
    padding: 15px 15px 10px 15px;
    width: 176px;
    display: flex;
    flex-direction: column;
}

.popularPreviewDesc p {
    flex-grow: 1;
}

#activities {
    margin-top: 60px;
}

#activitiesContainer {
    display: flex;
    flex-flow: column wrap;
    height: 445px;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 22px;
}

.activitiesPreview{
    width: 302px;
    box-shadow: 0px 0px 15px #e6e6e6;
    border-radius: 20px 20px 20px 20px;
}

.activitiesPic {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.activitiesPic img {
    width: 302px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activitiesPic.xLarge img {
    height: 390px;
}

.activitiesPic.Large img {
    height: 180px;
}

.activitiesPic.Medium img {
    height: 153px;
}

.activitiesPic.Small img {
    height: 140px;
}

.activitiesPic.xSmall img {
    height: 110px;
}

.activitiesPic:hover img, .lodgingPic:hover img, .popularPic:hover img {
    transform: scale(1.2);
}

.activitiesPic img, .lodgingPic img, .popularPic img {
    transition: transform .5s;
}

.picOverflow {
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    display: flex;
}

.popularPicOverflow {
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    display: flex;
}

.activitiesPreviewDesc {
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 19px;
}

footer {
    width: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.footerContainer {
    width: 446.6px;
    height: 196px;
    padding-top: 22px;
}

.footerLinks {
    padding-bottom: 10px;
}

.footerLinks a:hover, #lodgingMore a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 1450px) { 
    
    #lodging {
        flex-flow: row wrap;
    }
    
    #mostPopular {
        width: 100%;
        order: -1;
        height: 100%;
    }

    #popularContainer {
        flex-flow: row wrap;
    }

    .popularPreview {
        width: 31%;
    }

    .popularPicOverflow {
        width: 40%;
    }

    .popularPic img {
        width: 100%;
    }

    .popularPreviewDesc {
        width: 60%;
    }

    #locationLodging {
        width: 100%;
        margin-top: 50px;
        height: 100%;
    }

    .lodgingPreview {
        width: 31%;
    }

    .activitiesPic .picOverflow img {
        width: 100%; 
        height: 134px;
    }

    #activitiesContainer {
        flex-flow: row wrap;
        height: 100%;
    }

    .activitiesPreview {
        width: 31%;
        margin-bottom: 30px;
    }

    .footerContainer {
        width: 30%;
    }

}

@media only screen and (max-width: 1000px) { 

    #searchFilters label {
        width: 100%;
    }

    .filterBtn {
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 20px;
    }
    
    #popularContainer {
        flex-flow: column wrap;
    }

    .popularPreview {
        width: 100%;
    }

    .lodgingPreview {
        width: 45.5%;
    }
}

@media only screen and (max-width: 750px) { 
    
    main {
        padding: 0;
    }

    #searchBar {
        padding: 0px 20px 0px 20px;
    }

    #searchForm {
        margin-top: 37px;
    }

    #navButtonsContainer {
        order: 1;
        width: 100%;
    }


    #navButtonsContainer a {
        width: 50%;
        text-align: center;
    }

    nav {
        padding: 20px 0px 20px 0px;
    }

    #logo {
        padding-left: 34px;
        padding-top: 5px;
    }

    #navButtonsContainer a:hover {
        border-bottom: 2px solid var(--primary-color);
        border-top: none;
        padding-top: 20px;
    }

    #navButtonsContainer a {
        border-bottom: 2px solid var(--tertiary-color);
    }

    .navBtn {
        padding: 20px 34px 20px 34px;
        border-top: none;
    }

    #location {
        width: 150px;
        flex-grow: 1;
    }

    #submitForm {
        width: 52px;
        height: 52px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -15px;
    }

    #submitForm span {
        display: none;
    }

    #submitForm .fa-search {
        display: inline-block;
    }

    #mostPopular {
        border-radius: 0;
        padding: 40px 20px 40px 20px;
    }

    #locationLodging {
        background-color: transparent;
        padding: 40px 20px 0px 20px;
        margin-top: 0px;
    }

    .lodgingPreview {
        width: 100%;
    }

    #activities {
        margin-top: 0px;
    }

    #locationActivities {
        padding: 40px 20px 0px 20px;
    }

    .activitiesPreview {
        width: 100%;
    }

    footer {
        flex-flow: column;
        margin-top: 20px;
    }

    .footerContainer {
        width: auto;
        height: auto;
        padding-left: 50px;
    }
    
 }