* {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}


a:link, a:visited, a:active {
    color: #000000;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.35em;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1em;
}

p {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.9em;
}

body {
    margin: 0;
}

nav {
    max-width: 1340px;
    padding: 0px 50px 0px 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    padding-top: 46px;
}

#logo img {
    max-width: 97px;
}

#navButtonsContainer {
    justify-content: flex-end;
    display: flex;
}

.navBtn {
    padding: 50px 34px 50px 34px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 600;
}

.active, .navBtn:hover {
    border-top: 2px solid #0065FC;
    padding-top: 48px !important;
    color: #0065FC;
}

#signinBtn {
    color: #0065FC;
    font-weight: 600;
}

main {
    max-width: 1340px;
    padding: 0px 50px 0px 50px;
    margin: auto;
}

#searchForm {
    display: flex;
}

#searchLabel {
    min-width: 52px;
    height: 51px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#location {
    width: 234px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding: 17px;
    box-sizing: border-box;
}

#submitForm {
    width: 134px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    cursor: pointer;
}

#searchFilters {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.filterBtn {
    height: 46px;
    border: 2px solid #f2f2f2;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    margin-left: 20px;
}

.filterLabel {
    min-height: 50px;
    min-width: 50px;
    background-color: #DEEBFF;
    border-radius: 50px;
    cursor: pointer;
    color: #0065FC;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filterBtn span {
    padding: 13px;
    font-weight: 600;
}

.searchIconResult {
    width: 30px;
    height: 30px;
    border: 1px solid #f2f2f2;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color:#0065FC;
}
.fa-star3, .fa-star4, .fa-star5  {
    font-size: 0.75em;
}

.fa-star3:before {
    content: "\f005\f005\f005";
    color: #0065FC;
}

.fa-star3:after {
    content: "\f005\f005";
    color: #DEEBFF;
}

.fa-star4:before {
    content: "\f005\f005\f005\f005";
    color: #0065FC;
}

.fa-star4:after {
    content: "\f005";
    color: #DEEBFF;
}

.fa-star5:before {
    content: "\f005\f005\f005\f005\f005";
    color: #0065FC;
}

#lodging span {
    display: block;
}

#locationLodging {
    width: 800px;
    height: 546px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    display: inline-flex;
    flex-direction: column;
}

#lodgingContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.lodgingPreview {
    margin: 15px 0px 15px 0px;
    width: 236px;
    height: 189px;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px #0000000a;
}

.lodgingPic {
    margin: 0;
}

.lodgingPic img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.lodgingPreviewDesc {
    padding: 5px 0px 0px 10px;
}

#lodgingMore {
    display: block;
    margin: 25px 15px 15px 15px;
    font-size: 1.15em;
    font-weight: 700;
}

#mostPopular {
    display: inline-flex;
    flex-direction: column;
    width: 343px;
    height: 546px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 40px 40px 40px 37px;
    margin-left: 35px;

}

#mostPopularTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fa-line-chart {
    font-size: 1.5em;
}

#popularContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin-top: 2px;
}

.popularPreview {
    margin: 15px 0px 15px 0px;
    /* width: 127px; */
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px #0000000a;
    display: flex;
    flex-direction: row;
}

.popularPic {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.popularPic img {
    width: 127px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popularPreviewDesc {
    padding: 15px;
}

#activitiesContainer {
    display: flex;
    flex-flow: column wrap;
    height: 445px;
    justify-content: space-between;
}

.activitiesPreview{
    width: 302px;
    box-shadow: 0px 0px 15px #0000001f;
    border-radius: 20px 20px 20px 20px;
}

.activitiesPic {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.activitiesPic.Large img {
    width: 302px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activitiesPic.Medium img {
    width: 302px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activitiesPic.Small img {
    width: 302px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footerContainer {
    width: 446.6px;
}